# Rename this file to env and set CLIENT_ID value

# Client ID
CLIENT_ID=''

# Default Region
DEFAULT_REGION='us-east1'

# Cloud Provision API Url
CLOUD_PROVISION_API_URL=''

# Local Dev
#CLOUD_PROVISION_API_URL='localhost:8080'