# Rename this file to env and set the values

# FirebaseOptions from Firebase console - web app config
PROJECT_ID=''
API_KEY=''
AUTH_DOMAIN=''
STORAGE_BUCKET=''
MESSAGING_SENDER_ID=''
APP_ID=''
MEASUREMENT_ID='

# Client ID
CLIENT_ID=''

# Cloud Provision API Url
CLOUD_PROVISION_API_URL='cloud-provision-server-aaabbbccc-ue.a.run.app'