# Rename this file to env and set CLIENT_ID value

# Client ID
CLIENT_ID=''

# Default Region
DEFAULT_REGION='us-east1'

GCP_CATALOG_URL=https://raw.githubusercontent.com/gitrey/cp-templates/main/catalog.json

COMMUNITY_CATALOG_URL=https://raw.githubusercontent.com/gitrey/community-templates/main/catalog.json
